---
prefix: govuk
reference: sam-enrol-or-sign-in-to-submit-tuberculosis-tb-test-results
name: Submit tuberculosis (TB) test results using Sam
entry-date: 2026-11-11T17:07:34Z
start-date: 2024-08-05
document-url: https://www.gov.uk/guidance/sam-enrol-or-sign-in-to-submit-tuberculosis-tb-test-results
---

# Submit tuberculosis (TB) test results using Sam

This service allows you to:

- view up to date TB testing instructions and work lists online
- produce working forms pre-populated with ear-tag numbers to record results on farms
- view test dates and results to help identify animals not eligible for testing
- create private tests for your clients
- use third-party software when Sam is unavailable

[ Sign in to Sam ](https://secure.services.defra.gov.uk/ah/sam/)

## Planned downtime

Sam will be unavailable in 2026 on:

- 13 October at 7pm to 14 October at 7am
- 10 November at 7pm to 11 November at 7am
- 8 December at 7pm to 10 December at 7am

### How to record data during Sam downtime

To record data while Sam is unavailable you can use:

- the electronic (excel) TB52 form
- a paper copy of the TB52 form
- an excel or XML file for use in third-party software

Sections 10 and 12 of  [Sam OV practice guide](https://assets.publishing.service.gov.uk/media/678a46e52080f65f988bd36a/Sam-Official-Veterinarian-Practice-Guide.pdf) (PDF, 986 KB, 47 pages) contain guidance on how to find and use the TB52 form.

You must upload or manually enter your data into Sam when it’s available again.

## Get help using Sam

[Check our instructions for setting up a Government Gateway account and using Sam](https://www.gov.uk/government/publications/sam-guidance-for-official-veterinarians-and-practice-staff).

You can also contact the Sam helpdesk if you need more help:

- phone 03300 416999
- email [APHAServiceDesk@apha.gov.uk](mailto:APHAServiceDesk@apha.gov.uk)

### If you have entered data into Sam incorrectly

To fix incorrect data in Sam, [download and complete form GENO2](https://www.gov.uk/government/publications/gen02-sam-data-fix-request) then email it to:

-  [csc.TBsamdatafix@apha.gov.uk](mailto:csc.TBsamdatafix@apha.gov.uk) for County Parish Holdings (CPHs) in England
-  [Apha.cymruwales@apha.gov.uk](mailto:Apha.cymruwales@apha.gov.uk) for CPHs in Wales
-  [Apha.scotland@apha.gov.uk](mailto:Apha.scotland@apha.gov.uk) for CPHs in Scotland

## How to register and enrol in Sam

### Complete your theory training and exam

To register for Sam you must have completed the theory training for a relevant Official Controls Qualification (OCQ). This should be either:

- the OCQ(OV) - TT (tuberculin tester)
- the OCQ(AHP) - ATT

[Learn more about the OCQs at Improve International.](https://www.improve-ov.com/qualifications/about.php)

### Complete the OV59 form

To register for Sam access, a principal or partner from your veterinary practice must [complete the OV59 Application for Sam access form](https://www.gov.uk/government/publications/ov59-application-for-sam-access) and send it to APHA’s OV team.

Once the OV team have received your form and you’ve completed all other requirements for conditional authorisation, APHA will send a known facts letter (form AH046) containing your Sam sign in information to your practice address.

### Enrol in the AHVLA-ORC (organisation) Sam service

Before you can use Sam your practice must [enrol on Sam as an organisation using the AHVLA-ORC service](https://signon.defra.gov.uk/SignOn.RedirectTo.aspx?ver=1.0&appID=12231&request=Enrol&brand=APHA&Agent=0&lang=en-GB&returnURL=https://secure.services.defra.gov.uk/content/appshome.html).

Practices can then link with enrolled individuals through the ‘Manage my agents’ screen.

### Enrol in the AHVLA-AGT (agent) Sam service

All OVs, ATTs and practice admin staff must [enrol on Sam as an agent using the AHVLA-AGT service](https://signon.defra.gov.uk/SignOn.RedirectTo.aspx?ver=1.0&appID=12231&request=Enrol&brand=APHA&Agent=1&lang=en-GB&returnURL=https://secure.services.defra.gov.uk/content/appshome.html).

When you have accessed the agent service, follow these steps to enrol.

1. Enter the enrolment information from your known facts letter. The role and application ID must be entered in capital letters.
2. Enter the first part of your Government Gateway agent ID. The second part of your agent ID will be generated for you.

### Link your individual account to a practice account

To view your agent ID and link to a practice you must sign in to Sam and then choose to ‘log on and manage my account’. Contact the APHA service desk if you cannot find your agent ID or have forgotten your sign in details.

ATTs must remove the second ‘E’ from the word ‘Tester’ when entering the enrolment information. It should read, ‘APPROVED TUBERCULIN TESTR’.
